h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
    top: 12px;
    display: inline-block;
}
#token {
  display: none;
}
li#preview {
    list-style-type: none;
}
.dragndrop p {
	text-transform: uppercase;
}
form {
	margin-bottom: 30px;
}
.checkmark {
  background: url(/images/GREEN_Checkmark-in-circle-hover-64x64.svg);
  cursor: pointer;
}
.x-in-circle {
  background: url(/images/Red_x-in-circle-64x64.svg);
  cursor: pointer;
}
.x-in-circle:hover {
  background: url(/images/Red_x-in-circle-hover-64x64.svg);
  cursor: pointer;
}
form input {
    outline: 0
}
button#selectImage {
    display: none;
}
section {
  margin-top: 15px;
  margin-bottom: 15px;
}
section.image-upload {
	background-color: #354f60;
}
section.image-upload h2 {
	background: #354f60;
	color: #fff;
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 18px;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
li.imageLI {
  text-align: -webkit-center;
	list-style-type: none;
	margin-top: 20px;
}
.searchButton {
	float: right;
	background: transparent;
	border: 1px solid rgb(238, 238, 238);
}
ul#preview {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}
#remove-btn {
  border: 0;
}
#preview img {
	height: 10vh;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}
ul#preview li.imageLI img {
	display:block;
}
.file-name {
	display: inline-block;
	padding-left: 10px;
}
.buttonDiv {
	display: inline-block;
}
.btnContainer {
	padding:10px;
}
.randomInput {
	float: right;
	width: 70px;
	text-align: center;
	height: 24px;
}
.preview {
  margin: 20px;
}
input#select {
	color: transparent;
}
.fileName {
	display: inline-block;
	text-align: left;
	width: 100%;
}
button.imageA {
	color: black;
	background-color: transparent;
	border-color: grey;
	border-radius: 20px;
	height: 20px;
  width: 20px;
	padding: 0;
  cursor: pointer;
}
#token {
  display: none;
}
button.btn-fail {
	color: #fff;
    background-color: #e43b36;
    border-color: #cda2a2;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    padding: 0;
}

input#selectImage {
	width: 100%;
}
.uploader {
	text-align: center;
	vertical-align: middle;
	padding: 30px 0px;
	font-size: 200%;
}
.dragndrop {
	height: 200px;
}
div#dropZone {
  padding: 0;
  border-bottom: 1px solid black;
}
.uploader div.or {
    font-size: 50%;
}

.uploader div.browser label {
  border: 1px solid #ccc;
  color: #292b2c;
  background-color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: .5rem 1rem;
}
.noPointEvent {
  pointer-events: none;
}
input#browse {
  display: none;
}
input[type="file"] {

}
span.btn.btn-primary.fileinput-button {
  background-color: transparent;
  border: 1px solid black;
}

.dragover {
	border: 1px solid grey;
	border-bottom: 0px;
	background-color:rgba(0,0,0,0.1);
}
.drag-over{
	border: 1px solid grey;
	border-bottom: 0px;
	background-color:rgba(0,0,0,0.3);
}
button.btn-success {
    color: #fff;
    background-color: green;
    border-color: #cda2a2;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    padding: 0;
}
.flex-flow-row-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
